.frost-button {
  padding: 0;
  border: none;
  border-radius: 2px;
  font-family: $frost-font-family;
  background-color: transparent;
  color: $frost-color-white;

  &:focus, &:active {
    outline: none;
  }

  &.disabled {
    opacity: 0.25;
  }

  &.hidden {
    visibility: hidden;
  }

  // Function based coloring
  &.primary {
    background-color: $frost-color-blue-1;
    color: $frost-color-white;

    &:hover {
      background-color: $frost-color-blue-3;
      box-shadow: 0 0 1px 1px lightgrey; // TODO Variable
    }

    &.disabled:hover {
      background-color: $frost-color-blue-1;
      box-shadow: none;
    }

    &:active {
      background-color: $frost-color-blue-1;
      color: $frost-color-blue-4;
    }
  }

  &.secondary {
    border: 1px solid $frost-color-blue-1;
    background-color: $frost-color-white;
    color: $frost-color-blue-1;

    &:hover {
      box-shadow: 1px 1px 1px 1px lightgrey; // TODO Variable
    }

    &.disabled:hover {
      background-color: $frost-color-blue-1;
      box-shadow: none;
    }

    &:active {
      background-color: $frost-color__hover_blue; // TODO Is this Brian's variable?
      color: $frost-color-blue-3;
    }
  }

  &.tertiary {
    background-color: inherit; // TODO Variable
    color: $frost-color-blue-1;

    &:hover {
      background-color: $frost-color__hover_blue; // TODO Is this Brian's variable?
    }

    &.disabled:hover {
      background-color: $frost-color-blue-1;
    }

    &:active {
      color: $frost-color-blue-3;
    }
  }

  // Sizes
  &.extra-large {
    height: 60px;
    padding: 0 30px 0 15px;
    font-size: $frost-font-size-3;

    .frost-svg {
      width: 40px;
      height: 40px;
    }
  }

  &.large {
    height: 50px;
    padding: 0 20px;
    font-size: $frost-font-size-3;

    .frost-svg {
      width: 40px;
      height: 40px;
    }
  }

  &.medium {
    height: 40px;
    padding: 0 20px;
    font-size: $frost-font-size-2;

    .frost-svg {
      width: 30px;
      height: 30px;
    }
  }

  &.small {
    height: 30px;
    padding: 0 10px;
    font-size: $frost-font-size-1;

    .frost-svg {
      width: 20px;
      height: 20px;
    }
  }

  // Content - text
  &.text {
    // Deprecated format
    vertical-align: middle;
  }

  > .text {
    vertical-align: middle;
  }

  // Content - icon
  &.icon {
    // Deprecated format
    @include display(inline-flex);
  }

  > .icon {
    height: 100%;
    @include display(flex);
    @include align-items(center);
  }

  // Content - text-info
  > .icon-text {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);

    .text {
      margin-left: 10px;
    }
  }

  // Content - info
  > .info {
    @include display(flex);
    @include align-items(center);

    .content {
      @include display(flex);
      @include flex-direction(column);
      @include align-items(flex-start);
      padding-left: 10px;

      .alias {
        font-size: $frost-font-size-3;
        color: $frost-color-white;
      }

      .details {
        font-size: $frost-font-size-1;
        color: rgba($frost-color-white, 0.8);
      }
    }
  }
}
